body {
    background-color: pink;
  }
  
  .nav-link {
    background-color: cornflowerblue;
    padding: 10px;
    text-decoration: none;
    color: white;
  }
  nav {
      margin: 50px;
  }
  header {
    position: fixed;
  }
  
  #header-img {
    margin-left: 25px;
  }
  
  #header-img {
    width: 250px;
  }
  
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }