body {
    background: url("https://images6.alphacoders.com/419/thumb-1920-419933.jpg");
  }
  #main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #img-div {
    background-color: #060508;
    max-width: 25%;
    align-self: center;
  }
  #image {
    display: block;
    margin: auto;
    max-width: 100%;
  }
  #img-caption {
    color: white;
    text-align: center;
  }
  #tribute-info, p {
    background-color: gray;
    text-align: center;
    margin: auto;
  }
  #title {
    font-size: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
  }